body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  width: 100%;
  background-color: #fff;
  

  font-family: 'Inter', sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#root {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #181C32;
  padding-bottom: 4px;
  border-bottom: 2px solid #c1a5ff;

}

.subheader {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #181C32;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #181C32;
}

/* PURPLE BUTTON */
.btn_purple {
  background-color: #7239EA;
  color: #fff;
  min-height: 40px;
  border-radius: 8px;  
  padding: 7px 25px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  border: none;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.15);
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background: rgb(193,165,255);
  background: linear-gradient(189deg, rgba(193,165,255,1) 0%, rgba(114,57,234,1) 72%);

}

.btn_purple:hover {
  background-color: var(--color-orange);
  color: #fff;
  border: 1px solid var(--color-orange);
  background-image: none;
}

.btn_purple:active {
  background-color: #7239EA;
  color: #fff;
  background: rgb(193,165,255);
  background: linear-gradient(189deg, rgba(193,165,255,1) 0%, rgba(114,57,234,1) 72%);
}

/* PURPLE BUTTON INVERTED */
.btn_purple_inverted {
  background-color: var(--color-purple-light);
  color: #7239EA;
  min-height: 40px;
  border-radius: 8px;
  padding: 7px 25px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  border: none;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.15);
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #7239EA;
  background: rgb(248,245,255);
background: linear-gradient(180deg, rgba(248,245,255,0.9346113445378151) 0%, rgba(255,255,255,1) 100%);
}

.btn_purple_inverted:hover {
  background-color: #7239EA;
  color: #fff;
  background-image: none;
  border: none;
  background: rgb(193,165,255);
  background: linear-gradient(189deg, rgba(193,165,255,1) 0%, rgba(114,57,234,1) 72%);
}

.btn_purple_inverted:active {
  background-color: #F8F5FF;
  color: #7239EA;
  border: 1px solid #7239EA;

  background: rgb(248,245,255);
  background: linear-gradient(180deg, rgba(248,245,255,0.9346113445378151) 0%, rgba(255,255,255,1) 100%);
}



/* GREY BUTTON */
.btn_grey {
  background-color: #A1A5B7;
  color: #fff;
  min-height: 40px;
  border-radius: 8px;  
  padding: 7px 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border: none;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.15);
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background: rgb(201,206,227);
  background: linear-gradient(189deg, rgba(201, 206, 227, 1) 0%, rgba(123, 125, 133, 1) 100%);

}

.btn_grey:hover {
  background-color: #F8F5FF;
  color: #7239EA;
  border: 1px solid #7239EA;
  background-image: none;
}

.btn_grey:active {
  background-color: #7239EA;
  color: #fff;
}



input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: rgba(114, 57, 234, 0.36);
    width: 1.5em;
    height: 1.5em;
    border: 0.15em solid rgba(114, 57, 234, 0.36);
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;

    background: rgba(114, 57, 234, 0.36);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}